body{
  background: url('./images/freshvegbg.jpg') no-repeat fixed center;
  background-size: 100% ;
  /* background-origin: content-box; */
  max-width: 100%;

}

.App {
  text-align: center;
  display: flex;
   flex-flow: row wrap;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{
  margin: 0 auto;
  border: 0px solid black;
  width : 600px;
}

.recipeCard{
  border: 0px solid white;
  background-color: white;
  width : 300px;
  height : 280px;
  padding: 10px ;
  /* padding-bottom: 30px; */
  margin: 20px;  
  border-radius: 5%;
  /* background-color: lightyellow; */
  /* background-color: #FAF0CA; */
  color:black;
  /* background-color:  #FAF0CA A23B72; */
  transition: .5s ease;
  overflow: hidden;
  /* text-overflow: hidden; */
}

.recipeCard img{
  
  width:260px;
  height:260px;
  border-radius: 5%;
}
.recipeDetails{
    /* width:300px; */
  display: flex;
  justify-content: center; 
  flex-wrap: nowrap;
  /* background-color: white; */

}
.recipeDetails img{
  margin-top: 30px;
  width:400px;
  height:300px;
  border-radius: 20px;
  
  
  /* margin-left: 500px; */
}
.details{
  /* display: inline; */
  
  background-color: white;
  margin: 100px auto;
  /* border:100px 150px 150px 150px; */
  padding:50px 100px 100px 100px;
  width:1200px;
  border-radius: 20px;
}

.instructions{
  border : 1px solid white;
  margin: 30px;
  border:30px;
  padding:20px;
  /* background-color: white; */
  border-radius: 10px;
}
.mealnamevideo{
  margin-top: 20px;
  /* margin-left:535px; */
}
/* .form{

  margin-top: 100px;;
} */

.card i{
  font-size: 20px;
  color:red;
}
button .back{
  background-color: darkgray;
  margin-left: 100px;
  width : 50px;
}

.details ul>li{
  list-style: none;
}

.favorite{
  height :600px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
}
button{
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid darkslategrey;
  margin:10px;
  border-radius: 15px;
  padding: 5px 5px;
 
  
  /* width : 80px;
  
  margin:10px; */
}
button:hover{
  background-color : teal;
}
button:active{
  background-color: navy;
  border: 2px solid blueviolet;
  border-radius: 15px;
}
.tab:hover{
  /* text-decoration: underline; */
  -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    /* box-shadow: 0 0 0 2px #000000; */
    transition: .5s ease;
    background-color: darkgray;
    border-radius: 10px;
}

.profile{
  border: 0px solid darkgray ;
  padding : 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
  width:700px;
  display: block;
  text-align: center;
  margin:50px auto;
}

.search{
  margin-top: 100px;
  margin-bottom: 30px;
  color : darkgray;
}

.register{
  border: 2px solid darkgray ;
  background-image: url('./images/login.jpg');
  background-size: cover;
  padding : 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
  width:500px;
  display: block;
  text-align: center;
  margin:50px auto;
  /* box-shadow: 50px +15px grey */
}
.loginpage{
  border: 2px solid darkgray ;
  background-image: url('./images/login.jpg');
  background-size: cover;
  padding : 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
  width:500px;
  display: block;
  text-align: center;
  margin:50px auto;
  /* box-shadow: 50px +15px grey */
}

.ingredients{

  border : 2px solid white;
  /* width:275px; */
  /* background-color: white; */
  border-radius: 10px;
  margin: 30px;
  border:30px;
  padding:20px;

}
.one{
 color: white;
}
.one>a{
  color: white;
}
 .video{

  color : red;
  font-size: 30px;
 }
 .login{
  color:white;
 }
 .login:hover{
  color:blue;
 }
 .loginsm{
  font-size: 25px;
  color:white;
  margin: 20px ;
  margin-left: 0;
  margin-top: 0;
 }
 .loginsm:hover{
color:blue;

 }

 .control {
 height: 20px;
}
.back{
  color:white;
}
.back:hover{

  color:black;
}
.delete:hover{
  color:gray;
}

.plus{
  color:white;
}
.plus:hover{
  color:black;
}

.xmark{

  color:gray
}

.xmark:hover{

  color: black
}