body{
  max-width: 100%;
}
.App {
  text-align: center;
  display: flex;
   flex-flow: row wrap;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{
  margin: 0 auto;
  border: 0px solid black;
  width : 500px;
}

.recipeCard{
  border: 1px solid darkblue;
  width : 300px;
  height : 300px;
  padding: 20px ;
  padding-bottom: 20px;
  margin: 20px;  
  border-radius: 5%;
  /* background-color: lightyellow; */
  /* background-color: #FAF0CA; */
  color:black;
  /* background-color:  #FAF0CA A23B72; */
  transition: .5s ease;
  overflow: hidden;
  /* text-overflow: hidden; */
}

.recipeCard img{
  
  width:250px;
  height:250px;
}
.recipeDetails{
  display: flex;
  justify-content: center;
}
.recipeDetails img{
  margin-top: 30px;
  width:300px;
  height:300px;
  border-radius: 15%;
  /* margin-left: 500px; */
}
.navbar{
  /* background-color: black; */
  /* color: white; */
}
.details{
  display: inline;
}
.instructions{
  border : 1px solid black;
  margin: 20px;
  border:20px;
  padding:20px;
}
.mealnamevideo{
  margin-top: 20px;
  /* margin-left:535px; */
}
/* .form{

  margin-top: 100px;;
} */

.card i{
  font-size: 20px;
  color:red;
}
button .back{
  background-color: darkgray;
  margin-left: 100px;
  width : 50px;
}

.details ul>li{
  list-style: none;
}

.favorite{
  height :600px
}
button{
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 12px;
  padding: 5px 15px;
  border-radius: 5%;
  /* width : 80px;
  
  margin:10px; */
}
button:hover{
  background-color : darkgray;
}
button:active{
  background-color: navy;
  border: 2px solid blueviolet;
}
.tab:hover{
  /* text-decoration: underline; */
  -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    /* box-shadow: 0 0 0 2px #000000; */
    transition: .5s ease;
    background-color: darkgray;
    border-radius: 10px;
}